<nav class="navbar">
  <div class="nav-container">
    <a routerLink="/" class="nav-logo"> <img class="logo-img" src="https://imgs.search.brave.com/uU2atRpUvzHblxyjgP4fsJZCZLHiBcaFT2OoUO7rWDA/rs:fit:0:180:1:0/g:ce/aHR0cHM6Ly9pLnRy/YWN4bi5jb20vbG9n/by9jb21wYW55LzRm/YmIwMmM4ZjNkYTdl/MzBjOWI2YmVlMjI3/YTkxYT9mb3JtYXQ9/d2VicCZoZWlnaHQ9/MTIwJndpZHRoPTEy/MA"/>
      POS</a>

    <ul class="nav-links">
      @if (authService.loggedIn$ | async) {
        <li><a routerLink="/home" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/clients" routerLinkActive="active">Clients</a></li>
        <li><a routerLink="/products/list" routerLinkActive="active">Products</a></li>
        <li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
        <li><a routerLink="/orders/sales-report" routerLinkActive="active">Sales Report</a></li>
        <li><a routerLink="/orders/reports" routerLinkActive="active">Reports</a></li>
        <li class="user-info">
<!--          <span class="user-email">{{ authService.getCurrentUser()?.email }}</span>-->
          <button class="logout-btn" (click)="logout()">Logout</button>
        </li>
      } @else {
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
      }

    </ul>
  </div>
</nav>
